
<div class="container">
  <div class="left-section">
    <div>
      <div class="login-card-title">Login</div>
      <p class="login-description">Login to your account</p>
      <form>
        <div>
          <label>E-mail Address</label>
          <input class="form-field" type="email" placeholder="" />
        </div>
        <div>
          <label>Password</label>
          <input class="form-field" type="password" placeholder="" />
        </div>

        <button class="login-button" (click)="signIn()">Sign In</button>
      </form>
    </div>

  </div>
  <div class="right-section">
    <img src="assets/images/login.png" alt="Login" class="login-image" />
    <div class="image-overlay">
      <p class="overlay-text">
        Manage all <span class="text-span">HR Operations</span> from the comfort
        of your home.
      </p>
    </div>
  </div>
</div>

