<div class="filter-container">
  <p>{{ name ? name + "’s Dashboard" : "Dashboard" }}</p>
  <!-- <button class="filter-button" *ngIf="role == 'hr'">
    <img src="../../../assets/images/filter.png" alt="Filter" />
  </button> -->
</div>
<div class="dashboard-container">
  <div class="attendance-row">
    <div class="attendance-card">
      <div class="date">
        <!-- <span>{{ attendance?.CheckIn || today | date : "MMMM d, yyyy" }}</span> -->
        <span>{{ today | date : "MMMM d, yyyy" }}</span>
      </div>
      <div class="status-time">
        <span class="entry-label">
          {{ attendance?.CheckOut !== "N/A" ? "Leave Time" : "Entry Time" }}
        </span>
        <div class="status-time-row">
          <span class="status">
            {{ attendance?.Status || "Not Checked In" }}
          </span>
          <span class="time">
            {{
              attendance?.CheckOut && attendance?.CheckOut !== "N/A"
                ? attendance!.CheckOut
                : attendance?.CheckIn && attendance?.CheckIn !== "N/A"
                ? attendance!.CheckIn
                : "--:--"
            }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Second row: Charts -->
  <div class="charts-row">
    <div class="chart-container">
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{ width: '400px', height: '340px' }"
      ></canvasjs-chart>

      <div class="chart-center-text">
        <div class="center-today">Today</div>
        <div class="center-date">{{ todayDate }}</div>
      </div>

      <div class="chart-legend">
        <div class="legend-item">
          <span class="legend-square present"></span> Present On Time
        </div>
        <div class="legend-item">
          <span class="legend-square late"></span> Present Late
        </div>
        <div class="legend-item">
          <span class="legend-square absent"></span> Absent
        </div>
        <div class="legend-item">
          <span class="legend-square leave"></span> Leave
        </div>
      </div>
    </div>
    <!-- Leave Progress Card with Title -->
    <div class="chart-containner">
      <div class="leave-progress-card">
        <h3>Leave Progress</h3>
        <div class="leave-progress-container" *ngFor="let leave of leaveTypes">
          <div class="leave-info">
            <span class="leave-type">{{ leave.type }}</span>
            <div class="progress-bar">
              <div
                class="filled"
                [ngStyle]="{
                  'background-color': getProgressBarColor(leave.type.toString()),
                  width: leave.filledPercentage + '%'
                }"
              ></div>
              <div class="divisions">
                <div
                  *ngFor="
                    let _ of [].constructor(leave.totalDays + 1);
                    let i = index
                  "
                  class="division"
                  [ngClass]="{ 'filled-division': i < leave.takenDays }"
                ></div>
              </div>
            </div>
            <span class="days-info">
              {{ leave.takenDays }} / {{ leave.totalDays }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
