.filter-container {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  width: 97%;
}
p {
  padding-left: 3%;
  font-size: 20px;
}

.filter-button {
  background: none;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.filter-button img {
  width: 30px;
  height: 30px;
}

.filter-button:hover {
  transform: scale(1.1);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* padding: 20px; */
}
.attendance-row {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}
.attendance-card {
  width: 90%;
  background: linear-gradient(to right, #FFD370, #E16F7C);
  color: #424242;
  padding: 35px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 70px;
}

.date {
  flex: 1;
  text-align: left;
}

.status-time {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.status-time-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  font-size: 16px;
  background-color: #73877B;
  color: #EEEEEE;
  margin-right: 150px;
  padding: 7px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

.entry-label {
  font-size: 14px;
  color: #D9F0C5;
  opacity: 0.8;
}

.time {
  font-size: 18px;
  color: #D9F0C5;
  font-weight: bold;
}

.charts-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}
.charts-row {
  /* width: 90%; */
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.chart-container {
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-center-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-today {
  font-size: 35px;
  font-weight: bold;
  color: #333;
}

.center-date {
  font-size: 20px;
  margin-top: 5px;
  color: #666;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
}

.legend-square {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
}

.present {
  background-color: #008080;
}

.late {
  background-color: #EF2B1F;
}

.absent {
  background-color: #FF9600;
}

.leave {
  background-color: #1976D2;
}
.leave-progress-card {
  width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.leave-progress-card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
}


.leave-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leave-type {
  font-size: 17px;
  font-weight: 600;
  color: #333;
  min-width: 150px;
}

.progress-bar {
  position: relative;
  align-items: center;
  width: 250px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
}

.filled {
  height: 100%;
  border-radius: 10px;
  background-color: #4caf50;
}

.divisions {
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.division {
  height: 60%;
  border-right: 1px solid #bbb;
}

.filled-division {
  background-color: #4caf50;
}
.division:first-child,
.division:last-child {
  visibility: hidden;
}
.days-info {
  font-size: 17px;
  color: #555;
  margin-left: 10px;
}
@media (max-width: 1024px) {
  .charts-row,
  .attendance-row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .charts-row,
  .attendance-row {
    flex-direction: column;
    align-items: center;
  }
  .chart-center-text {
    font-size: 22px;
  }
}
