<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <div class="sidebar-content">
      <!-- Sidebar Image -->
      <div class="sidebar-image">
        <img src="../../../assets/images/sidebar.png" alt="Sidebar Image" />
      </div>

      <!-- Profile Section -->
      <div class="profile-section">
        <!-- Profile Picture -->
        <div class="profile-pic">
          <img src="../../../assets/images/profile.png" alt="Profile Picture" />
        </div>
        <!-- Username -->
        <div class="username-section">
          <div>
            <span>{{ apiService.getLoggedInEmployee()?.Name || "Guest" }}</span>
          </div>

          <div class="job">
            <span>
              {{
                apiService.getLoggedInEmployee()?.RoleId === 1
                  ? "Manager"
                  : apiService.getLoggedInEmployee()?.RoleId === 2
                  ? "Employee"
                  : apiService.getLoggedInEmployee()?.RoleId === 3
                  ? "HR"
                  : "Guest"
              }}
            </span>
          </div>
        </div>
      </div>

      <!-- Features Section -->
      <div class="Features">
        <div class="Features-label">
          <span>Features</span>
        </div>
        <div class="options">
          <!-- Dashboard Option -->
          <a [routerLink]="['/dashboard', userId]">
            <div class="option-item">
              <img
                src="../../../assets/images/dashboard.png"
                alt="Dashboard Icon"
                class="option-icon"
              />
              Dashboard
            </div>
          </a>

          <!-- Employees link (Visible only for HR) -->
          <a routerLink="/employee">
            <div class="option-item" *ngIf="apiService.role !== 2">
              <img
                src="../../../assets/images/employee.png"
                alt="Employee Icon"
                class="option-icon"
              />
              Employees
            </div>
          </a>

          <!-- Attendance link (Visible only for non-HR roles) -->
          <a [routerLink]="['/attendance', userId]">
            <div class="option-item">
              <img
                src="../../../assets/images/employee.png"
                alt="Employee Icon"
                class="option-icon"
              />
              Attendance
            </div>
          </a>

          <!-- Request Option -->
          <a routerLink="/request">
            <div class="option-item">
              <img
                src="../../../assets/images/request.png"
                alt="Request Icon"
                class="option-icon"
              />
              Requests
            </div>
          </a>
        </div>
      </div>

      <div class="Attendance">
        <div class="Attendance-label">
          <span>Organization</span>
        </div>
        <div class="attendance-options">
          <!-- Check In / Check Out Button -->
          <button class="attendance-button" (click)="toggleCheckInOut()">
            <img
              src="../../../assets/images/check.png"
              alt="Check Icon"
              class="attendance-icon"
            />
            <!-- {{ attendanceStatus === "CheckedIn" ? "Check Out" : "Check In" }} -->
            {{ isCheckedIn ? "Check Out" : "Check In" }}
          </button>
        </div>
      </div>

      <div class="side-bottom">
        <div class="logout-section">
          <button class="logout-button" (click)="signOut()">
            <img
              src="../../../assets/images/logout.png"
              alt="Logout Icon"
              class="logout-icon"
            />
            Logout
          </button>
        </div>
      </div>
    </div>

    <div class="bottom-pic">
      <img
        src="../../../assets/images/bottomSidebar.png"
        alt="Logout Icon"
        class="logout-icon"
      />
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="main-content">
      <!-- Toggle Button -->
      <button (click)="toggleSidebar(sidenav)">
        <img src="../../../assets/images/toggle.png" alt="Toggle Sidebar" />
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
