<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <div class="sidebar-content">
      <!-- Sidebar Image -->
      <div class="sidebar-image">
        <img src="../../../assets/images/sidebar.png" alt="Sidebar Image" />
      </div>

      <!-- Profile Section -->
      <div class="profile-section">
        <!-- Profile Picture -->
        <div class="profile-pic">
          <img src="../../../assets/images/profile.png" alt="Profile Picture" />
        </div>
        <!-- Username -->
        <div class="username-section">
          <div>
            <span>John Doe</span>
          </div>

          <div class="job">
            <span>Employee</span>
          </div>
        </div>
      </div>

      <!-- Features Section -->
      <div class="Features">
        <div class="Features-label">
          <span>Features</span>
        </div>
        <div class="options">
          <!-- Dashboard Option -->
          <div class="option-item">
            <img
              src="../../../assets/images/dashboard.png"
              alt="Dashboard Icon"
              class="option-icon"
            />
            <a routerLink="/dashboard">Dashboard</a>
            <!-- <span>Dashboard</span> -->
          </div>
          <div class="option-item" *ngIf="role == 'hr'">
            <img
              src="../../../assets/images/employee.png"
              alt="Employee Icon"
              class="option-icon"
            />
            <a routerLink="/employee">Employees</a>
            <!-- <span>Request</span> -->
          </div>
          <!-- Request Option -->
          <div class="option-item">
            <img
              src="../../../assets/images/request.png"
              alt="Request Icon"
              class="option-icon"
            />
            <a routerLink="/request">Requests</a>
            <!-- <span>Request</span> -->
          </div>
        </div>
      </div>

      <div class="Attendance">
        <div class="Attendance-label">
          <span>Organization</span>
        </div>
        <div class="attendance-options">
          <!-- Check In Button -->
          <button class="attendance-button">
            <img
              src="../../../assets/images/check.png"
              alt="Check In Icon"
              class="attendance-icon"
            />
            Check In
          </button>
          <!-- Check Out Button -->
          <button class="attendance-button" style="background-color: cadetblue;" (click)="openDialog()">
            <img
              src="../../../assets/images/check.png"
              alt="Check Out Icon"
              class="attendance-icon"
            />
            Register
          </button>
        </div>
      </div>

      <div class="side-bottom">
        <div class="logout-section">
          <button class="logout-button" (click)="signOut()">
            <img
              src="../../../assets/images/logout.png"
              alt="Logout Icon"
              class="logout-icon"
            />
            Logout
          </button>
        </div>
      </div>
    </div>
    <div class="bottom-pic">
      <img
        src="../../../assets/images/bottomSidebar.png"
        alt="Logout Icon"
        class="logout-icon"
      />
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="main-content">
      <!-- Toggle Button -->
      <button (click)="toggleSidebar(sidenav)">
        <img src="../../../assets/images/toggle.png" alt="Toggle Sidebar" />
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
