::ng-deep .mat-datepicker-content {
  position: fixed !important;
  top: 71% !important;
  right: 31% !important;
  transform: translateY(-50%) !important;
  z-index: 6000 !important;
  max-width: 350px;
}
